---
import Block from "./Block.astro";

const { class: className } = Astro.props;
---

<Block class:list={[className]}>
  <section class="block">
    <slot />
  </section>
</Block>

<style>
  section {
    grid-area: 1 / 1 / -1 / -1;
  }
</style>
