---
import Block from "./Block.astro";

const { class: className } = Astro.props;
---

<Block>
  <section class:list={[className, "block"]}>
    <slot />
  </section>
</Block>

<style>
  section {
    grid-area: 1 / 1 / -1 / -1;
  }
</style>
