---
import Section from "../../../layouts/home/Section.astro";
---

<Section class="poem">
  <div class="text">
    <p>
      Within manawave's embrace,<br />
      A realm seer's gaze takes flight,<br />
      Five realms unveiled, they trace,<br />
      Seeking truths in cosmic light.
    </p>
  </div>
  <div class="placeholder-img"></div>
</Section>

<style>
  section.poem {
    grid-row: poem-start / poem-end;
    grid-template-rows: 1fr 16rem;
  }

  .text {
    grid-area: 1 / 2 / 2 / 6;

    font-family: "PP Migra", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;

    margin-left: 1rem;
    margin-bottom: 8rem;
  }

  .placeholder-img {
    grid-area: 2 / 2 / 3 / 6;

    margin: 1rem;

    max-width: 16rem;

    background-color: blue;
  }
</style>
