---
import selfImage from "@assets/img/self.webp";
import Section from "../../../layouts/home/Section.astro";
---

<Section class="poem">
  <div class="text">
    <p>
      Within manawave's embrace,<br />
      A realm seer's gaze takes flight,<br />
      Five realms unveiled, they trace,<br />
      Seeking truths in cosmic light.
    </p>
  </div>
  <figure>
    <img
      src={selfImage.src}
      alt="Blurred person brightly lit in darkness looking down, overlaid with ethereal descriptions and a heads up display"
    />
  </figure>
</Section>

<style>
  section.poem {
    grid-template-rows: 1fr auto;
  }

  .text {
    grid-area: 1 / 2 / 2 / 6;

    font-family: "PP Migra", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;

    position: relative;

    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
  }

  .text::before {
    display: block;
    content: "";

    width: 0.25rem;
    height: 35%;

    position: absolute;
    top: 1.5rem;
    left: -1.25rem;

    background: var(--color-fg);
  }

  figure {
    grid-area: 2 / 2 / 3 / 6;

    margin: 1rem;

    min-height: 16rem;
    max-width: 16rem;

    position: relative;
  }

  figure::before {
    display: block;
    content: "";

    width: 0.25rem;
    height: 25%;

    position: absolute;
    left: -1.25rem;

    background: var(--color-fg);
  }

  figure > img {
    width: 100%;
    height: 100%;

    filter: brightness(2);
    animation: glow 20s ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes glow {
    from {
      filter: brightness(1);
    }

    50% {
      filter: brightness(2);
    }

    to {
      filter: brightness(1);
    }
  }
</style>
