---
import "@fontsource/crimson-text";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ambient infinity" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "PP Migra";
    src: url("/fonts/PPMigra-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "PP Migra";
    src: url("/fonts/PPMigra-ExtraboldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  :root {
    /* Colors */
    --color-bg: black;
    --color-fg: white;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background: var(--color-bg);
    color: var(--color-fg);

    margin: 0;

    font-family: "Crimson Text", serif;
  }

  h1,
  h2 {
    font-family: "PP Migra", serif;
    font-style: italic;
    font-weight: 800;
  }

  p {
  }
</style>
