<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ouroboros Test Zone</title>
</head>

<body>
    <main>
        <h1>Hello</h1>
        <p>This is a wonderful test area</p>
        <section>
            <h2>Web Component</h2>
            <h3>Normal</h3>
            <manawave-marquee id="webc-normal" autoplay direction="200" speed="3">
                <div class="square color-cornsilk">1</div>
                <div class="square color-aqua">2</div>
                <div class="square color-lavendarblush">3</div>
            </manawave-marquee>
            <h3>Inline-flex</h3>
            <manawave-marquee autoplay direction="up" speed="2">
                <div class="square inline-flex color-cornsilk">1</div>
                <div class="square inline-flex color-aqua">2</div>
                <div class="square inline-flex color-lavendarblush">3</div>
                <div class="square inline-flex color-cornsilk">1</div>
                <div class="square inline-flex color-aqua">2</div>
                <div class="square inline-flex color-lavendarblush">3</div>
                <div class="square inline-flex color-cornsilk">1</div>
                <div class="square inline-flex color-aqua">2</div>
                <div class="square inline-flex color-lavendarblush">3</div>
            </manawave-marquee>
            <h3>Inline-flex Fill</h3>
            <manawave-marquee>
                <div class="inline-flex">
                    <div class="square inline-flex color-cornsilk">1</div>
                    <div class="square inline-flex color-aqua">2</div>
                    <div class="square inline-flex color-lavendarblush">3</div>
                </div>
            </manawave-marquee>
            <h3>Small</h3>
            <manawave-marquee id="webc-small">
                <div class="square color-cornsilk">1</div>
                <div class="square color-aqua">2</div>
                <div class="square color-lavendarblush">3</div>
            </manawave-marquee>
            <h3>Flex</h3>
            <div id="webc-flex">
                <manawave-marquee>
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee>
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee>
                    <div class="square inline-flex color-cornsilk">1</div>
                    <div class="square inline-flex color-aqua">2</div>
                    <div class="square inline-flex color-lavendarblush">3</div>
                </manawave-marquee>
            </div>
            <h3>Flex Wrap</h3>
            <div id="webc-flex-wrap">
                <manawave-marquee>
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee>
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee>
                    <div class="square inline-flex color-cornsilk">1</div>
                    <div class="square inline-flex color-aqua">2</div>
                    <div class="square inline-flex color-lavendarblush">3</div>
                </manawave-marquee>
            </div>
            <h3>Grid</h3>
            <div id="webc-grid">
                <manawave-marquee autoplay direction="up">
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee autoplay direction="right" speed="3">
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee autoplay direction="288" speed="1.2">
                    <div class="square inline-flex color-cornsilk">1</div>
                    <div class="square inline-flex color-aqua">2</div>
                    <div class="square inline-flex color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee>
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee autoplay direction="110" speed="0.56">
                    <div class="square color-cornsilk">1</div>
                    <div class="square color-aqua">2</div>
                    <div class="square color-lavendarblush">3</div>
                </manawave-marquee>
                <manawave-marquee>
                    <div class="square inline-flex color-cornsilk">1</div>
                    <div class="square inline-flex color-aqua">2</div>
                    <div class="square inline-flex color-lavendarblush">3</div>
                </manawave-marquee>
            </div>
            <h3>Only Text</h3>
            <manawave-marquee autoplay direction="89">
                Layout Test Layout Test
                Text that's different
            </manawave-marquee>
            <manawave-marquee autoplay direction="359">
                Layout Test Layout Test
                <div class="square inline-flex color-aqua">2</div>
            </manawave-marquee>
            <manawave-marquee autoplay direction="left" data-speed="10" speed="2">
                Layout Test Layout Test
                <div class="square inline-flex color-aqua">2</div>
                Layout Test Layout Test
                Text that's different
            </manawave-marquee>
            <h3>Should throw error in console</h3>
            <h4>No Content</h4>
            <manawave-marquee></manawave-marquee>
            <h4>Different Whitespace Edge Cases</h4>
            <manawave-marquee> </manawave-marquee>
            <manawave-marquee>&nbsp;</manawave-marquee>
            <manawave-marquee>


            </manawave-marquee>
            <hr />
            <h2>DOM</h2>
            <h3>Normal</h3>
            <div id="dom-base">
                <div class="square color-cornsilk">1</div>
                <div class="square color-aqua">2</div>
                <div class="square color-lavendarblush">3</div>
            </div>
            <h3>No Overriding Attributes</h3>
            <div id="dom-no-attr" speed="10" direction="up" data-autoplay>
                <div class="square color-cornsilk">1</div>
                <div class="square color-aqua">2</div>
                <div class="square color-lavendarblush">3</div>
            </div>
        </section>
    </main>
    <script type="module" src="index.ts"></script>
</body>

</html>