---
import godText from "../../../../data/god.txt?raw";
---

<div aria-hidden="true" class="god-text behind-1">
  <div class="manawave-marquee-container">
    <manawave-marquee autoplay direction="down" speed="0.15" class="text-1">
      <p>{godText}</p>
    </manawave-marquee>
    <manawave-marquee autoplay direction="up" speed="0.05" class="text-2">
      <p>{godText}</p>
    </manawave-marquee>
  </div>
</div>

<style>
  .god-text {
    grid-area: 1 / 2 / 8 / span 1;
    margin: 1.5rem;

    mix-blend-mode: overlay;
    filter: blur(1.5px);

    position: relative;
  }

  .god-text p {
    margin: 0;

    font-size: 1.5rem;
  }

  .manawave-marquee-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    position: absolute;
    inset: 0;
  }
</style>
