<header>
  <p class="author">ryuuart::</p>
  <div class="title">
    <h1>manawave</h1>
    <p class="tagline">ambient::infinity</p>
  </div>
</header>

<style>
  header {
    grid-area: 1 / 2 / 2 / 6;

    display: grid;
    grid-template-columns: auto auto;
  }

  header * {
    margin: 0;
  }

  header > .author {
    margin-right: 0.5rem;
  }

  header h1 {
    text-transform: uppercase;
  }
</style>
