<header>
  <p class="author">ethersea ::</p>
  <div class="title">
    <h1>manawave</h1>
    <p class="tagline">ambient :: infinity</p>
  </div>
</header>

<style>
  header {
    grid-area: 1 / 2 / 2 / 6;

    display: grid;
    grid-template-columns: auto auto;

    margin-top: 2rem;
  }

  header * {
    margin: 0;
  }

  header h1 {
    text-transform: uppercase;

    margin-bottom: -0.5rem;

    font-size: 2.25rem;
  }

  .author {
    justify-self: end;

    margin-right: 0.5rem;
  }

  .author,
  .tagline {
    font-size: 0.75rem;
  }
</style>
