---
const { class: className } = Astro.props;
---

<div class:list={[className, "primordia", "sideways-lr"]}>
  <div>
    <div class="title">Primordia</div>
    <div class="description">08.10.23</div>
  </div>
  <img class="holotape" src="/assets/img/holotape.svg" />
</div>

<style>
  .primordia {
    display: flex;
  }

  .title {
    font-family: "PP Migra", serif;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;

    margin-block-end: -0.5rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .holotape {
    align-self: flex-start;

    margin-inline-start: 1.5rem;
  }
</style>
