<div class="container behind-2">
  <video autoplay muted loop playsinline poster="">
    <source src="/assets/videos/starlight.webm" type="video/webm" />
  </video>
</div>

<style>
  .container {
    grid-area: 1 / 2 / 8 / span 1;

    position: relative;
  }

  video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    transform: scale(3);
  }
</style>
