---
import Realm from "../../layouts/realms/Realm.astro";
---

<Realm
  pageTitle="hyperpink"
  realm="hyperpink"
  config={{ colors: { tab: "hyperpink" } }}
>
  <manawave-ticker><div>hyperpink</div></manawave-ticker>
</Realm>

<style is:global>
  :root {
    --color-fg: rgb(125, 0, 69);
    --color-bg: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 168, 204, 0) 0%,
      #ffa8cc 100%
    );
  }
</style>
