---
import Realm from "../../layouts/realms/Realm.astro";
---

<Realm pageTitle="hyperpink" realm="hyperpink">
  <manawave-ticker><div>hyperpink</div></manawave-ticker>
</Realm>

<style>
  :root {
    --color-bg: hotpink;
  }
</style>
