---
import Realm, { RealmLayoutConfig } from "../../layouts/realms/Realm.astro";

const config: RealmLayoutConfig = {
  colors: {
    fg: "white",
    bg: "black",
  },
};
---

<Realm pageTitle="sebonzakura" realm="sebonzakura" config={config}>
  <manawave-ticker><div>sebonzakura</div></manawave-ticker>
</Realm>
