---
import Realm from "../../layouts/realms/Realm.astro";
---

<Realm pageTitle="sebonzakura" realm="sebonzakura">
  <manawave-ticker><div>sebonzakura</div></manawave-ticker>
</Realm>

<style is:global>
  :root {
    --color-fg: white;
    --color-bg: black;
  }
</style>
