---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/hero/Hero.astro";
import PoemSection from "../components/home/poem/Poem.astro";
import RealmsSection from "../components/home/realms/Realms.astro";
import Footer from "../components/home/Footer.astro";
import HR from "../components/home/HR.astro";
import Spacer from "../components/home/Spacer.astro";
import godText from "../components/home/god.txt?raw";
---

<Layout title="manawave">
  <main>
    <Spacer size="4rem" />
    <HR semantic={false} />
    <HeroSection />
    <Spacer size="7rem" />
    <HR />
    <PoemSection />
    <RealmsSection />
    <Footer />
    <div class="god-text behind-1">
      <div class="god-text-ticker-container">
        <manawave-ticker autoplay direction="down" class="text-1">
          <p>{godText}</p>
        </manawave-ticker>
        <manawave-ticker autoplay direction="up" class="text-2">
          <p>{godText}</p>
        </manawave-ticker>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-rows: auto;
  }

  main > :global(:nth-child(1)) {
    grid-row: 1 / span 1;
  }
  main > :global(:nth-child(2)) {
    grid-row: 2 / span 1;
  }
  main > :global(:nth-child(3)) {
    grid-row: 3 / span 1;
  }
  main > :global(:nth-child(4)) {
    grid-row: 4 / span 1;
  }
  main > :global(:nth-child(5)) {
    grid-row: 5 / span 1;
  }
  main > :global(:nth-child(6)) {
    grid-row: 6 / span 1;
  }
  main > :global(:nth-child(7)) {
    grid-row: 7 / span 1;
  }
  main > :global(:nth-child(8)) {
    grid-row: 8 / span 1;
  }
  main > :global(:nth-child(9)) {
    grid-row: 9 / span 1;
  }
  main > :global(:nth-child(10)) {
    grid-row: 10 / span 1;
  }

  main > .god-text {
    grid-area: 1 / 2 / 8 / span 1;
    margin: 1.5rem;

    mix-blend-mode: overlay;
    filter: blur(1.5px);

    position: relative;
  }

  .god-text > manawave-ticker {
    max-height: 100vh;
  }

  .god-text p {
    margin: 0;

    font-size: 1.5rem;
  }

  .god-text-ticker-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    position: absolute;
    inset: 0;
  }
</style>

<style is:global>
  .vr {
    border-left: 1px solid var(--color-fg);
    grid-area: 1 / 2 / -1 / span 1;
  }

  .sideways-lr {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .behind-1 {
    z-index: -1;
  }

  .behind-2 {
    z-index: -2;
  }

  .front-1 {
    z-index: 1;
  }

  span.manawave-text {
    font-family: "PP Migra", serif;
    font-weight: 800;
    font-style: italic;

    text-transform: uppercase;
  }
</style>
