---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/hero/hero.astro";
---

<Layout title="manawave">
    <main class="box-line-left">
      <div class="separator--rinf_c2 vr front"></div>
      <HeroSection />
    </main>
</Layout>

<style>
  main {
    margin: 0 1.5rem;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: [hero-start] 
      auto [hero-end poem-start] 
      auto [poem-end realms-start] 
      auto [realms-end];
  }
</style>

<style is:global>
  .sideways-lr {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .separator--rinf_c2 {
    grid-row: hero-start / realms-end;
    grid-column: 2 / span 1; 
  }

  .behind {
    z-index: -1;
  }

  .front-1 {
    z-index: 1;
  }

  .vr {
   border-left: 1px solid var(--color-fg); 
  }
</style>
