---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/hero/Hero.astro";
import PoemSection from "../components/home/poem/Poem.astro";
import RealmsSection from "../components/home/realms/Realms.astro";
---

<Layout title="manawave">
  <div class="layout">
    <main class="box-line-left">
      <div class="separator--rinf_c2 vr front"></div>
      <HeroSection />
      <PoemSection />
      <RealmsSection />
      <footer>
        <p>Copyright &copy; 2023 Long Nguyen. All rights reserved.</p>
      </footer>
    </main>
  </div>
</Layout>

<style>
  .layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  main {
    grid-column-start: 2;

    max-width: 390px;
    margin: 0 auto;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:
      [hero-start]
      auto [hero-end poem-start]
      auto [poem-end realms-start]
      auto [realms-end]
      auto;
  }

  footer {
    grid-area: realms-end / 2 / span 1 / 6;
    display: grid;
  }
</style>

<style is:global>
  .sideways-lr {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .separator--rinf_c2 {
    grid-row: hero-start / span realms-end 2;
    grid-column: 2 / span 1;
  }

  .behind {
    z-index: -1;
  }

  .front-1 {
    z-index: 1;
  }

  .vr {
    border-left: 1px solid var(--color-fg);
  }
</style>
