---
import Layout from "../layouts/Layout.astro";
import Block from "../layouts/home/Block.astro";
import HeroSection from "../components/home/hero/Hero.astro";
import PoemSection from "../components/home/poem/Poem.astro";
import RealmsSection from "../components/home/realms/Realms.astro";
import Footer from "../components/home/Footer.astro";
import HR from "../components/home/HR.astro";
import Spacer from "../components/home/Spacer.astro";
---

<Layout title="manawave">
  <main>
    <Spacer size="4rem" />
    <HR semantic={false} />
    <HeroSection />
    <Spacer size="7rem" />
    <HR />
    <PoemSection />
    <RealmsSection />
    <Footer />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-rows: auto;
  }
</style>

<style is:global>
  .vr {
    border-left: 1px solid var(--color-fg);
    grid-area: 1 / 2 / -1 / span 1;
  }

  .sideways-lr {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .behind-1 {
    z-index: -1;
  }

  .front-1 {
    z-index: 1;
  }

  span.manawave-text {
    font-family: "PP Migra", serif;
    font-weight: 800;
    font-style: italic;

    text-transform: uppercase;
  }
</style>
