<div class="aura">
  <div class="wrapper">
    <div class="img-container">
      <div class="img"></div>
    </div>
    <div class="left-vertical-line"></div>
  </div>
</div>

<style>
  .aura {
    grid-area: 2 / 1 / 3 / 2;

    margin: 1rem;
    margin-right: 0;
  }

  .wrapper {
    position: relative;

    height: 100%;

    top: -3rem;
  }

  .img-container {
    position: relative;

    border-top: 1px solid black;
    border-left: 1px solid black;

    padding: 0.5rem;
  }

  .img {
    background: black;

    width: 2rem;
    height: 2rem;

    position: relative;
  }

  .left-vertical-line {
    height: 100%;

    border-left: 1px solid black;
  }
</style>
