<div class="aura">
  <div class="aura-img"></div>
</div>

<style>
  .aura {
    grid-area: 2 / 1 / 3 / 2;

    border-left: 1px solid black;

    margin: 1rem;
  }

  .aura-img {
    background: black;

    width: 2rem;
    height: 2rem;

    margin: 0.5rem;

    position: relative;

    top: -3rem;
  }

  .aura-img::before {
    content: "";
    position: absolute;

    height: 1px;
    width: calc(100% + 2rem);

    border-top: 1px solid black;

    top: -0.5rem;
    left: -0.5rem;
  }

  .aura-img::after {
    content: "";
    position: absolute;

    width: 1px;
    height: calc(100% + 1rem);

    border-left: 1px solid black;

    top: -0.5rem;
    left: calc(-0.5rem - 1px);
  }
</style>
