---
interface Props {
  title: string;
  tagline: string;
}

const { title, tagline } = Astro.props;
---

<header>
  <h1>{title}</h1>
  <div class="tagline-wrapper">
    <p>{tagline}</p>
  </div>
</header>

<style>
  header {
    grid-area: 1 / 2 / span 1 / -1;

    border-bottom: 1px solid var(--color-fg);

    margin: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  h1 {
    text-transform: uppercase;

    margin: 0;
    margin-bottom: -0.5rem;
  }

  p {
    margin: 0;

    position: relative;
  }

  p::before {
    content: "";
    width: calc(1.5rem + 0.05px);
    height: 0.6666666667px;

    background: var(--color-fg);

    position: absolute;
    bottom: calc(-6px + 0.5px);
    left: calc(-1.5rem - 0.5px);

    transform: rotate(44deg) scale(1.4);
  }

  .tagline-wrapper {
    position: relative;
  }
</style>
