---
interface Props {
  story: string;
  song: {
    link: string;
    name: string;
  };
}

const { story, song } = Astro.props;
---

<article>
  <div class="story-container">
    <h2>Story</h2>
    <p>
      {story}
    </p>
  </div>
  <div class="song-container">
    <h2>Chosen Song</h2>
    <div>
      <a href={song.link}>{song.name}</a>
    </div>
  </div>
</article>

<style>
  article {
    grid-area: 2 / 2 / span 1 / -1;

    display: grid;
    grid-template-columns: auto;

    max-width: 66ch;

    margin: 1rem;
  }

  h2 {
    font-family: "Crimson Pro", serif;
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;

    margin: 0;
  }

  .story-container p {
    margin-bottom: 1rem;

    font-family: "PP Migra", "Crimson Pro", serif;
    font-style: italic;
  }

  @media screen and (min-width: 768px) {
    article {
      grid-template-columns: auto auto;
      gap: 1.5rem;
    }
  }
</style>
