---
import Block from "../../layouts/home/Block.astro";
---

<Block>
  <footer>
    <small>
      &copy; 2023 <a href="https://github.com/ryuuart/manawave/graphs/contributors">MANAWAVE Contributors</a>.
      <br />
      All rights reserved.
    </small>
  </footer>
</Block>

<style>
  footer {
    grid-area: 1 / 2 / -1 / -1;

    font-size: 0.75rem;

    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  small {
    font-size: 0.75rem;
  }

  a {
    text-decoration: underline;
  }
</style>
