---
const { title, tagline, url } = Astro.props;
---

<div class="container">
  <div class="aura"></div>
  <div class="content">
    <div class="title">
      <a href={url}>{title}</a>
    </div>
    <p class="tagline">{tagline}</p>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-flow: row nowrap;

    gap: 0.5rem;
  }

  .aura {
    flex: 0;
    flex-basis: 2rem;

    height: 2rem;

    background: white;
  }

  .content {
    flex-grow: 1;
  }

  .title {
    font-family: "PP Migra", serif;
    font-style: italic;
    font-weight: 800;
    font-size: 1.5rem;

    margin-bottom: -0.5rem;
  }

  .tagline {
    font-size: 0.75rem;

    margin: 0;
  }
</style>
