---
import SandpackReactComponent from "./Sandpack.jsx";

interface Props {
  js?: string;
  html?: string;
  css?: string;
  activeFile?: string;
}

const { js, html, css, activeFile } = Astro.props;
---

<div class="container-sandpack not-content">
  <SandpackReactComponent
    client:only="react"
    js={js}
    html={html}
    css={css}
    activeFile={activeFile}
  />
</div>

<style>
  .container-sandpack {
    margin: 1.5rem auto;
  }
</style>
