---
import Layout from "../Layout.astro";
import Header from "../../components/realms/Header.astro";

import realmData from "../../../data/realms.json";
import Aura from "../../components/realms/Aura.astro";

interface Props {
  pageTitle: string;
  realm: keyof typeof realmData;
}

const { pageTitle, realm } = Astro.props;
const { title, tagline, story, song } = realmData[realm];
---

<Layout title={pageTitle}>
  <main>
    <div class="return">
      <a href="../">return</a>
    </div>
    <Header title={title} tagline={tagline} />
    <article>
      <p>
        {story}
      </p>
    </article>
    <section>
      <div>
        <slot />
      </div>
    </section>
    <Aura />
  </main>
</Layout>

<style>
  body {
    background: white;
    color: black;
  }

  main {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content auto;

    max-width: 100vw;
    min-height: 100vh;
  }

  article {
    grid-area: 2 / 2 / span 1 / -1;

    display: flow-root;

    max-width: 66ch;

    padding: 1rem;
  }

  .return {
    grid-area: 1 / 1 / span 1 / span 1;

    align-self: flex-end;
    justify-self: flex-end;

    margin-bottom: calc(1.75rem + 1ch);
  }

  a {
    text-decoration: underline;
    text-transform: none;
  }

  section {
    grid-area: 3 / 1 / 4 / -1;

    padding: 1rem;
  }

  section > div {
    border: 1px solid black;

    width: 100%;
    height: 100%;
  }

  p {
    margin: 0;
  }

  manawave-ticker {
    height: 100%;
  }

  @media screen and (min-width: 350px) {
    main {
      margin: 0.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    main {
      margin: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    main {
      margin: 2rem;
    }
  }
</style>
